::placeholder{
    color: black;
}
form{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.fotoFormulario{
    margin: 1rem 0 2rem 0;
    /* width: 2rem; */
    height: 12rem;
    background: gray;
    box-shadow: 3px 3px 4px 1px #0f0f0f;
    -moz-box-shadow: 3px 3px 4px 1px #0f0f0f;
    -webkit-box-shadow: 3px 3px 4px 1px #0f0f0f;
    border-radius: 2px;
}
.fotoFormulario input{
    width: 22rem;
    height: 12rem;
}
.camposNombre{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.subCamposNombre{
    box-shadow:3px 3px 4px 1px #0f0f0f;
    -moz-box-shadow:3px 3px 4px 1px #0f0f0f;
    -webkit-box-shadow:3px 3px 4px 1px #0f0f0f;
    border-radius: 6px;
}
.camposFormulario{
    width: 100%;
    margin-bottom: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.camposFormulario span{
    font-size: 2.5rem;
    margin-left: 8px;
}
.campoInput{
    box-shadow:3px 3px 4px 1px #0f0f0f;
    -moz-box-shadow:3px 3px 4px 1px #0f0f0f;
    -webkit-box-shadow:3px 3px 4px 1px #0f0f0f;
    width: 90%;
    border-radius: 6px;
}
input{
    border-radius: 6px;
    padding: 0.6rem;
    color: rgb(12, 41, 21);
    border: 1px solid gray;
    /* box-shadow:inset 0px 0px 0px 3px #293066;
    -moz-box-shadow:inset 0px 0px 0px 3px #293066;
    -webkit-box-shadow:inset 0px 0px 0px 3px #293066; */
    width: 100%;
    background-color: #bdbdc0; /*cbcbce*/
    outline: none;
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
    font-weight: 600;
}
input:hover{
    background-color: #2b3683;
    cursor: pointer;
    transition: all .2s linear;
}
.botonFormulario{
    border-radius: 6px;
    padding: 0.6rem;
    color: black;
    border: 1px solid gray;
    box-shadow:inset 0px 0px 0px 3px #293066;
    -moz-box-shadow:inset 0px 0px 0px 3px #293066;
    -webkit-box-shadow:inset 0px 0px 0px 3px #293066;
}
.botonFormulario button{
    font-size: 2rem;
    padding: 0.3rem 1.4rem;
}
.botonFormulario:hover{
    cursor: pointer;
    border: 1px solid black;
    box-shadow:inset 0px 0px 0px 3px #bdbdc0;
    -moz-box-shadow:inset 0px 0px 0px 3px #bdbdc0;
    -webkit-box-shadow:inset 0px 0px 0px 3px #bdbdc0;
    transition: .4s linear;
}
button{
    background-color: #bdbdc0;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: #293066;
    transition: .4s linear;
}


/* */

@media only screen and (max-width: 520px){
    form{
        width: 96%;
    }
}