
form{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.fotoFormulario{
    margin: 1rem 0 2rem 0;
    /* width: 2rem; */
    height: 12rem;
    background: #fff;
}
.fotoFormulario input{
    width: 22rem;
    height: 12rem;
}
.camposNombre{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.subCamposNombre{
    box-shadow:3px 3px 4px 1px #0f0f0f;
    -moz-box-shadow:3px 3px 4px 1px #0f0f0f;
    -webkit-box-shadow:3px 3px 4px 1px #0f0f0f;
    /*width: 100%;*/
}
/*.camposNombre input{
    width: 45%;
}*/
.camposFormulario{
    width: 100%;
    margin-bottom: 2rem;
    box-shadow:3px 3px 4px 1px #0f0f0f;
    -moz-box-shadow:3px 3px 4px 1px #0f0f0f;
    -webkit-box-shadow:3px 3px 4px 1px #0f0f0f;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.camposFormulario input{
    width: 90%;
}
.camposFormulario span{
    font-size: 2.5rem;
    margin-left: 8px;
}
input{
    border-radius: 6px;
    padding: 0.6rem;
    color: black;
    border: 1px solid white;
    box-shadow:inset 0px 0px 0px 3px #293066;
    -moz-box-shadow:inset 0px 0px 0px 3px #293066;
    -webkit-box-shadow:inset 0px 0px 0px 3px #293066;
}
input:hover{
    background-color: #293066;
    cursor: pointer;
    transition: all .2s linear;
}
.botonFormulario{
    border-radius: 6px;
    padding: 0.6rem;
    color: black;
    border: 1px solid white;
    box-shadow:inset 0px 0px 0px 3px #293066;
    -moz-box-shadow:inset 0px 0px 0px 3px #293066;
    -webkit-box-shadow:inset 0px 0px 0px 3px #293066;
}
.botonFormulario button{
    font-size: 2rem;
    padding: 0.3rem 1.4rem;
}
.botonFormulario:hover{
    cursor: pointer;
    border: 1px solid black;
    box-shadow:inset 0px 0px 0px 3px #fff;
    -moz-box-shadow:inset 0px 0px 0px 3px #fff;
    -webkit-box-shadow:inset 0px 0px 0px 3px #fff;
    transition: .4s linear;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: #293066;
    transition: .4s linear;
}
