@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

html{
	font-size: 62.5%; /**reset para rems -62.5% =10px de 16... esta cuenta es para hacer que un rem valga 10px**/
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body{
  font-family: 'Lora', serif;
  background-color: #37365c;
}

.text{
	width: 100%;
    margin-left: auto;
    margin-right: auto;
	display: inline-block;
	color: transparent;
	background-image: linear-gradient(43deg, #090812 15%, #4f4f54 66%, #292930 100%);

	-webkit-background-clip: text;
	background-clip: text;
}
/*background-image: linear-gradient(43deg, #090812 0%, #292930 46%, #4f4f54 100%);*/
.text h1{
	text-align: center;
	margin: 2rem 0 ;
	font-size: 4rem;
}