@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

html{
	font-size: 62.5%; /**reset para rems -62.5% =10px de 16... esta cuenta es para hacer que un rem valga 10px**/
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body{
  font-family: 'Lora', serif;
  background-color: #37365c;
}

h1{
	text-align: center;
	margin: 2rem 0 ;
}
